DATABASE_URL="postgresql://neondb_owner:..."

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_..."
CLERK_SECRET_KEY="sk_test_..."

SELLER_API_KEY = "4ch79bsgnp9xj6dpu1f3wt16rnprhrxd"
SHIPPING_API_KEY = "296l1gzir92d2un7du8erbksou9f5xpf"
PAYMENTS_API_KEY = "0srf8e6kogjdla9fn04be73n9v13lg07"
BUYER_API_KEY = "3gd8fbza7huokb0pp4wb3hb369w6qxjf"

CLOUDINARY_CLOUD_NAME="..."
CLOUDINARY_API_KEY="..."
CLOUDINARY_API_SECRET="..."